{% extends 'base.html.twig' %}

{% block title %}Gestion profil{% endblock %}

{% block body %}
    <div class="row">
        <div class="cell-lg-2 cell-md-3 offset-lg-2 img-container mt-4">
            {% if participant.urlPhoto %}
                <img class="img-fluid" src="{{ asset('uploads/' ~ participant.urlPhoto) }}">
            {% else %}
                <img class="img-fluid" src="{{ asset('images/no-image.png') }}">
            {% endif %}
        </div>

        <div class="cell-lg-6 cell-md-9">
            <div class="p-4">
                <h4>Gestion profil</h4>

                {{ include('participant/_form.html.twig', {'button_label': 'Update'}) }}
                <div class="row">
                    <div class="cell">
                        <button class="button success" title="Enregistrer"><span class="mif-floppy-disk mif-2x"></span></button>
                        {{ form_end(form) }}

                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="button secondary" href="{{ path('participant_index') }}"><span class="mif-arrow-left mif-2x"></span>&nbsp;&nbsp;Retour à la liste</a>
                            {{ include('participant/_delete_form.html.twig') }}
                        {% else %}
                            <a class="button secondary" href="{{ path('sortie_index') }}"><span class="mif-arrow-left mif-2x"></span>&nbsp;&nbsp;Retour à l'accueil</a>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
