{% extends 'base.html.twig' %}

{% block title %}Participant index{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>
    <table id="datagrid" class="table striped table-border mt-4"
           data-role="table"
           data-rows="5"
           data-rows-steps="5, 10"
           data-show-activity="false"
           data-rownum="true"
           data-check="true"
           data-check-style="2"
           data-table-info-title="Afficher $1 à $2 de $3 entrées"
    >
        <thead>
            <tr>
                <th>Id</th>
                <th data-sortable="true" data-sort-dir="asc">Pseudo</th>
                <th data-sortable="true" data-sort-dir="asc">Nom</th>
                <th data-sortable="true" data-sort-dir="asc">Prénom</th>
                <th>Téléphone</th>
                <th>Email</th>
                <th>Actif</th>
                <th>Admin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participant in participants %}
            <tr>
                <td>{{ participant.id }}</td>
                <td>{{ participant.pseudo }}</td>
                <td>{{ participant.nom }}</td>
                <td>{{ participant.prenom }}</td>
                <td>{{ participant.telephone }}</td>
                <td>{{ participant.mail }}</td>
                <td>{{ participant.actif ? 'Oui' : 'Non' }}</td>
                <td>{{ participant.admin ? 'Oui' : 'Non' }}</td>
                <td>
                    <a class="button info" title="Afficher utilisateur" href="{{ path('participant_show', {'id': participant.id}) }}"><span class="mif-eye mif-2x"></span></a>
                    <a class="button warning" title="Modifier utilisateur" href="{{ path('participant_edit', {'id': participant.id}) }}"><span class="mif-pencil mif-2x"></span></a>
                    {{ include('participant/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="button success" href="{{ path('participant_new') }}" title="Créer utilisateur"><span class="mif-user-plus mif-2x"></span></a>
    <button class="button alert" onclick="changeStatus()" title="Désactiver utilisateur"><span class="mif-cancel mif-2x"></span></button>
    <button class="button info" onclick="changeStatus()" title="Activer utilisateur"><span class="mif-plus mif-2x"></span></button>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        function changeStatus(){
            let tableData = $('#datagrid').data('table').getSelectedItems();
            let users = {};
            for (let i = 0; i < tableData.length; i++){
                let status = tableData[i][6] === 'Oui';
                users[i] = {
                    id: tableData[i][0],
                    status: status
                }
            }

            {#$.ajax({#}
            {#    url: "{{ path('participant_status') }}",#}
            {#    type: "POST",#}
            {#    data: JSON.stringify(users),#}
            {#    dataType:"json",#}
            {#    success: function(data){#}
            {#        console.log(data);#}
            {#        // $('#datagrid').data('table').reload(false);#}
            {#    }#}
            {#});#}

            let xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState === 4 && this.status === 200) {
                    //TODO: reload the table component and not the full page
                    document.location.reload();
                    // $('#datagrid').data('table').reload(true);
                }
            };
            xhttp.open("POST", "{{ path('participant_status') }}", true);
            xhttp.send(JSON.stringify(users));

        }

    </script>

{% endblock %}

