{% extends 'base.html.twig' %}

{% block title %}Réinitialisez votre mot de passe{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="cell-4 offset-4">
        <div class="p-4">
            <h4>Réinitialisez votre mot de passe</h4>

            {{ form_start(requestForm) }}
            <div class="row mb-2">
                {{ form_label(requestForm.mail, 'Adresse mail :', { 'label_attr': {'class': 'cell-sm-6'} }) }}
                <div class="cell-sm-6">
                    {{ form_row(requestForm.mail) }}
                </div>
            </div>

            <div>
                <small>
                    Entrez votre adresse e-mail et nous vous enverrons un
                    lien pour réinitialiser votre mot de passe.
                </small>
            </div>
            <div class="row">
                <div class="cell">
                    <button class="button secondary">Envoyer e-mail de réinitialisation</button>
                    {{ form_end(requestForm) }}
                </div>
            </div>

        </div>
    </div>
{% endblock %}