{% extends 'base.html.twig' %}

{% block title %}Modifier Sortie{% endblock %}

{% block body %}
    <div class="no-visible pos-absolute container info-box d-block px-5 py-5" style="z-index:2000;background:#fff;border:1px solid #444" id="lieux_add_window">
        <span class="button square closer" onclick="switch_visible_lieuadd(-1)"></span>
        <h1>Ajouter un lieu</h1>
        Nom du lieu : <input id="lieuadd_nom"><br>
        Rue : <input id="lieuadd_rue"><br>
        Latitude : <input id="lieuadd_latitude"><br>
        Longitude : <input id="lieuadd_longitude"><br>
        Ville : <label id="lieuadd_ville_txt">texte</label><br>
        <input id="lieuadd_ville" type="hidden">
        <p id="message_lieuadd"></p>
        <button onclick="ajax_send_lieuadd()" id="bouton_lieuadd">Ajouter</button>
        <button onclick="switch_visible_lieuadd(-1)">Annuler</button>
    </div>

    <h1>Modifier Sortie</h1>

    <div class="container">
    {{ form_start(form) }}

        <div class="row">
            <div class="col">
              {{ form_row(form.nom) }}
              {{ form_row(form.dateDebut) }}
              {{ form_row(form.dateCloture) }}
              {{ form_row(form.nbPlaces) }}
              {{ form_row(form.duree) }}
              {{ form_row(form.infos) }}
              {{ form_widget(form.etat,  { 'attr' : { 'style':'display:none'} }) }}
             </div>
            <div class="col">
            
            <label>Ville organisatrice</label>
            <label>{{ ville_orga }}</label>

<br>
            <label>Ville :</label>
            <select id="select_ville" onchange="ch_ville(this.value)">
                {% for ville in villes %}<option value="{{ ville.id }}">{{ ville.nom }}</option>{% endfor %}
            </select>

<br>
            <label>Lieu :</label>
            {{ form_row(form.lieu) }}
            <input type="button" onclick="switch_visible_lieuadd(1)" value="+">

<br>
            <label>Rue :</label>
            <label id="la_rue"></label>

<br>
            <label>Code postal :</label>
            <label id="le_cp"></label>

<script>
let bdd_lieux=[ // id, nom, rue, latitude, longitude, ville_id, ville_cp
{% for lieu in lieux %}
[{{ lieu.id }}, "{{ lieu.nom }}", "{{ lieu.rue }}", "{{ lieu.latitude }}", "{{ lieu.longitude }}", {{ lieu.ville.id }}, "{{ lieu.ville.cp }}" ],
{% endfor %}
0],

start_values=[],

hasmodified=(force)=>{
    if(force){ // init values
        start_values["sortie_nom"] = _id("sortie_nom").value;
        start_values["sortie_dateDebut"] = _id("sortie_dateDebut").value;
        start_values["sortie_dateCloture"] = _id("sortie_dateCloture").value;
        start_values["sortie_nbPlaces"] = _id("sortie_nbPlaces").value;
        start_values["sortie_duree"] = _id("sortie_duree").value;
        start_values["sortie_infos"] = _id("sortie_infos").value;
        start_values["sortie_etat"] = _id("sortie_etat").value;
        start_values["select_ville"] = _id("select_ville").value;
        start_values["sortie_lieu"] = _id("sortie_lieu").value;
    }
    return start_values["sortie_nom"] != _id("sortie_nom").value ||
    start_values["sortie_dateDebut"] != _id("sortie_dateDebut").value ||
    start_values["sortie_dateCloture"] != _id("sortie_dateCloture").value ||
    start_values["sortie_nbPlaces"] != _id("sortie_nbPlaces").value ||
    start_values["sortie_duree"] != _id("sortie_duree").value ||
    start_values["sortie_infos"] != _id("sortie_infos").value ||
    start_values["sortie_etat"] != _id("sortie_etat").value ||
    start_values["select_ville"] != _id("select_ville").value ||
    start_values["sortie_lieu"] != _id("sortie_lieu").value
    ;
},

_id=(vv)=>{
    return document.getElementById(vv);
},

init=()=>{
    ch_ville(_id("select_ville").firstElementChild.value);
    hasmodified(1);
},

ch_ville=(id_ville)=>{
    let ot = "";
    // lister les lieux selon id_ville
    for(let i0=0, maxx0=bdd_lieux.length; i0<maxx0; i0++){
        if(bdd_lieux[i0][5] == id_ville){
            ot += add_option( bdd_lieux[i0][0], bdd_lieux[i0][1] ) ;
        }
    }
    _id("sortie_lieu").innerHTML = ot;
    ch_lieu(_id("sortie_lieu").firstElementChild?_id("sortie_lieu").firstElementChild.value:-1);
},

ch_lieu=(id_lieu)=>{
    _id("la_rue").innerHTML = "";
    _id("le_cp").innerHTML = "";
    // M.A.J affichage rue & cp
    for(let i0=0, maxx0=bdd_lieux.length; id_lieu>-1 && i0<maxx0; i0++){ // if id_lieu valide
        if(bdd_lieux[i0][0] == id_lieu){
            _id("la_rue").innerHTML = bdd_lieux[i0][2];
            _id("le_cp").innerHTML = bdd_lieux[i0][6];
            break;
        }
    }
},

add_option=(id, nom)=>{
    return "<option value='"+ id +"'>"+ nom +"</option>";
},

xxhr = (url1, obj1, func1) => {
    fetch(url1, {
        method: "POST",
        body: JSON.stringify(obj1)
    })
    .then(data => data.json())
    .then(obj => func1(obj));
},

ajax_send_lieuadd=()=>{
    _id("bouton_lieuadd").setAttribute("disabled","disabled");

    xxhr("{{ path('lieu_new_api') }}",
    {
        nom: _id("lieuadd_nom").value,
        rue: _id("lieuadd_rue").value,
        latitude: _id("lieuadd_latitude").value,
        longitude: _id("lieuadd_longitude").value,
        ville_id: _id("lieuadd_ville").value
    },
    (obj)=>{
        _id("bouton_lieuadd").removeAttribute("disabled");

        if(obj.message=="ok"){
            
            obj.lieu_nom=JSON.parse(obj.lieu_nom);
            obj.ville=JSON.parse(obj.ville);

            let tab = [
                obj.lieu_nom.id,
                obj.lieu_nom.nom,
                obj.lieu_nom.rue,
                obj.lieu_nom.latitude,
                obj.lieu_nom.longitude,
                obj.ville.id,
                obj.ville.cp
            ];

            bdd_lieux.push(tab);
            
            ch_ville(_id("select_ville").value);
            _id("lieuadd_nom").value="";
            _id("lieuadd_rue").value="";
            _id("lieuadd_latitude").value="";
            _id("lieuadd_longitude").value="";
            _id("lieuadd_ville").value="";

            switch_visible_lieuadd(-1);

        }else{

            let error = "Erreur inconnue";
            if(obj.message=="error_vide"){
                error = "N'oubliez pas de remplir le formulaire";
            }
            // TODO : verifier AVANT envoi
            _id("message_lieuadd").innerHTML = error;

        };
    }
    );
},

switch_visible_lieuadd=(force)=>{

    let to=true; // etat final

    if(force==0){ // switch if not forced
        if(_id("lieux_add_window").classList.contains("no-visible")){
            to = true;
        }else{
            to = false;
        }
    }else{
        to = force>0;
    }

    _id("message_lieuadd").innerHTML = "";

    if(to){
        _id("bouton_lieuadd").hasAttribute("disabled")?_id("bouton_lieuadd").removeAttribute("disabled"):0;
        _id("lieux_add_window").classList.remove("no-visible");
        _id("lieuadd_ville_txt").innerHTML=_id("select_ville").children[_id("select_ville").selectedIndex].innerHTML;
        _id("lieuadd_ville").value=_id("select_ville").value;
    }else{
        _id("lieux_add_window").classList.add("no-visible");
    }
};

window.addEventListener("load",init,false);

</script>

            </div>
        </div>
         <button class="btn" onclick="_id('sortie_etat').value='1'">{{ button_label|default('Enregistrer') }}</button>

         <button class="btn" onclick="_id('sortie_etat').value='2'">{{ button_label|default('Publier') }}</button>

         <input type="button" class="button alert" onclick="document.location='{{ path('sortie_annuler', {'id': sortie.id}) }}'" value="{{ button_label|default('Supprimer') }}">
         
         <input type="button" class="btn" onclick="(!hasmodified(0))||confirm('Quitter?')?document.location='{{ path('sortie_index') }}':0" value="{{ button_label|default('Quitter') }}">

    {{ form_end(form) }}
    </div>

{% endblock %}
