{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block body %}
<div class="h-vh-100">
    <h1>Mes sortie :</h1>

    {% for message in app.flashes('notice') %}
        <div class="flash-notice">{{ message }}</div>
    {% endfor %}

<!-- #filtres -->
<div class="d-none d-block-md">
    <h5>Filtrer les sorties</h5>

    <div>
    <form action="{{ path("sortie_index") }}" method="POST">
    <div>Site : <select name="filter_site">
                <option value="">(Indéfini)</option>
                {% for site in sites %}<option value="{{ site.id }}">{{ site.nom }}</option>{% endfor %}
            </select><br>
    <label>
     nom de sortie :
     </label>
     <input type="text" data-role="input" data-search-button="true" name="filter_nom">
     
     <br> date :<input type="date" name="filtre_datedebut"> <input type="date" name="filtre_datefin"> 
     
     </div>
    <div>
    <input type="checkbox" name="filter_orga">Sorties dont je suis l'organisateur/trice<br>
    <input type="checkbox" name="filter_inscrit">Sorties auxquelles je suis inscrit/e <br>
    <input type="checkbox" name="filter_pas_inscrit">Sorties auxquelles je ne suis pas inscrit/e<br>
    <input type="checkbox" name="filter_passees">Sorties passées<br>
    </div>
    <div>
    Date du jour : {{ "now"|date("Y-m-d") }}<br>
    Participant : {{ app.user.userName }}<br>
    <input type="submit" value="rechercher">
    </div>
    </form>
    </div>

</div>
<!-- fin filtres -->

    <table id="datagrid" class="table striped table-border mt-4 not-md-hidden-osef-columns sm-show-osef-columns"
        data-role="table"
        data-rows="5"
        data-rows-steps="5, 10"
        data-show-activity="false"
        data-rownum="true"
        data-check="true"
        data-check-style="2"
        data-cls-table-top="d-none d-block-md"
        data-table-info-title="Listes des Sorties">
        <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th data-sortable="true" data-sort-dir="asc">Date de la sortie</th>
                <th>Cloture</th>
                <th>NbPlaces</th>
                <th data-sortable="true" data-sort-dir="asc">Etat</th>
                <th>Inscrit</th>
                <th  data-sortable="true" data-sort-dir="asc">Organisateur</th>
                <th>Actions</th>
                <th>Lieu</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>
                    {% if date(sortie.dateDebut)|date_modify("+1 month") > date() %}
                        {# lien part 2/2 #}
                        <a class="button info sm-show-osef-columns" title="Afficher sortie" href="{{ path('sortie_show', {'id': sortie.id}) }}">{{ sortie.nom }}</a>
                    {% else %}
                        <span class="sm-show-osef-columns">{{ sortie.nom }}</span>
                    {% endif %}
                    <span class="d-none d-block-md">{{ sortie.nom }}</span></td>
                <td>{{ sortie.dateDebut ? sortie.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sortie.dateCloture ? sortie.dateCloture|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sortie.participants | length}} / {{ sortie.nbPlaces }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>
                    {% set userInscrit = false %}
                    {% for participant in sortie.participants %}
                        {% if participant.id == app.user.id %}
                            <span class="mif-cross-light"></span>
                            {% set userInscrit = true  %}
                        {% endif %}
                       
                    {% endfor %}
                </td>
                <td>
                    <a title="Afficher utilisateur" href="{{ path('participant_show', {'id': sortie.organisateur.id}) }}">
                        {{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom }}
                    </a>
                </td>
                <td>
                    {% if date(sortie.dateDebut)|date_modify("+1 month") > date() %}
                        {# lien part 2/2 #}
                        <a class="button info" title="Afficher sortie" href="{{ path('sortie_show', {'id': sortie.id}) }}"><span class="mif-eye mif-2x"></span></a>
                    {% endif %}
                    {% if sortie.organisateur.id == app.user.id and sortie.etat.id == 1 %}
                        <a class="button warning" title="Modifier sortie" href="{{ path('sortie_edit', {'id': sortie.id}) }}"><span class="mif-pencil mif-2x"></span></a>
                    {% endif %}
                    {% if sortie.etat.id == 2 and userInscrit == false and  sortie.participants | length < sortie.nbPlaces %}
                        <a class="button warning" title="Inscription" href="{{ path('sortie_inscription', {'action': 'ins', 'idSortie': sortie.id,'idParticipant': app.user.id}) }}"><span class="mif-user-plus mif-2x"></span></a>
                    {% endif %}
                    {% if (sortie.etat.id == 2 or sortie.etat.id == 3)  and userInscrit == true %}
                        <a class="button alert" title="Désinscription" href="{{ path('sortie_inscription', {'action': 'des', 'idSortie': sortie.id,'idParticipant': app.user.id}) }}"><span class="mif-user-minus mif-2x"></span></a>
                    {% endif %}
                    {% if sortie.organisateur.id == app.user.id and sortie.etat.id > 1 and sortie.etat.id < 4 and is_granted("ROLE_ADMIN") %}
                        <a class="button alert" title="Supprimer sortie" href="{{ path('sortie_annuler', {'id': sortie.id}) }}"><span class="mif-cancel mif-2x"></span></a>
                    {% endif %}
                </td>
                <td>{{ sortie.lieu.ville.nom }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune sortie de prévu</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="button success" href="{{ path('sortie_new') }}" title="Créer une nouvelle Sortie"><span class="mif-plus"></span></a>
</div>
{% endblock %}
