{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block body %}
<div class="h-vh-100 ">

    <div class="row d-flex" style="flex-flow:row wrap;width:100%">
        <div class="cell-12 cell-md-6">
            <h2>Mes sorties :</h2>
        </div>
        <div class="cell-6 d-none d-flex-md text-right" style="align-items: end; justify-content: end; flex-flow: column-reverse">
            <p>Participant : {{ app.user.userName }}</p>
            <p>Date du jour : {{ "now"|date("Y-m-d") }}</p>
        </div>
    </div>
    {% for message in app.flashes('notice') %}
       <div class="bg-red fg-white padding10 text-shadow">
    &nbsp;{{ message }}</div>
    {% endfor %}

<!-- #filtres -->
<div class="d-none d-block-md">

    <h4>Filtrer les sorties</h4>

    <form action="{{ path("sortie_index") }}" method="POST">
    <div class="row">
    <div class="cell-4">
            <div class="row mb-2">
                <label class="cell-md-6 cell-lg-4">Site :</label>
                <div class="cell-md-6 cell-lg-8 input">
                    <select name="filter_site" style="border:none;width:100%" data-role="select">
                        <option value="">(Tous)</option>
                        {% for site in sites %}<option value="{{ site.id }}">{{ site.nom }}</option>{% endfor %}
                    </select>
                </div>
            </div>
    
            <div class="row mb-2">
                <label class="cell-md-6 cell-lg-4">Nom de sortie :</label>
                <div class="cell-md-6 cell-lg-8 input">
                    <input type="text" data-role="input" data-search-button="true" name="filter_nom">
                </div>
            </div>
    
            <div class="row mb-2" style="align-items:baseline">
                <label class="cell-4">Date :</label>
                <div class="cell-4">
                <div class="input mr-1">
                    <input type="date" name="filtre_datedebut">
                </div>
                </div>
                <div class="cell-4">
                <div class="input">
                    <input type="date" name="filtre_datefin">
                </div>
                </div>
            </div>

     </div>

    <div class="cell-4">
        <div class="ml-5" style="top:-8px">
            <input type="checkbox" data-role="checkbox" name="filter_orga" data-caption="Sorties dont je suis l'organisateur/trice" data-cls-caption="text-bold"><br>
            <input type="checkbox" data-role="checkbox" name="filter_inscrit" data-caption="Sorties auxquelles je suis inscrit/e" data-cls-caption="text-bold"> <br>
            <input type="checkbox" data-role="checkbox" name="filter_pas_inscrit" data-caption="Sorties auxquelles je ne suis pas inscrit/e" data-cls-caption="text-bold"><br>
            <input type="checkbox" data-role="checkbox" name="filter_passees" data-caption="Sorties passées" data-cls-caption="text-bold"><br>
        </div>
    </div>

    <div class="cell-4">
        <input class="button info large rounded" type="submit" value="rechercher">
    </div>

    </div>
    </form>

</div>
<!-- fin filtres -->

    <table id="datagrid" class="table striped table-border mt-4 not-md-hidden-osef-columns sm-show-osef-columns"
        data-role="table"
        data-rows="5"
        data-rows-steps="5, 10"
        data-show-activity="false"
        data-rownum="true"
        data-check="true"
        data-check-style="2"
        data-cls-table-top="d-none d-flex-md"
        data-table-info-title="Listes des Sorties"
        data-horizontal-scroll="true">
        <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th data-sortable="true" data-sort-dir="asc">Date de la sortie</th>
                <th>Cloture</th>
                <th>NbPlaces</th>
                <th data-sortable="true" data-sort-dir="asc">Etat</th>
                <th>Inscrit</th>
                <th  data-sortable="true" data-sort-dir="asc">Organisateur</th>
                <th>Actions</th>
                <th>Lieu</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>
                    {% if date(sortie.dateDebut)|date_modify("+1 month") > date() %}
                        {# lien part 2/2 #}
                        <a class="button info sm-show-osef-columns" title="Afficher sortie" href="{{ path('sortie_show', {'id': sortie.id}) }}">{{ sortie.nom }}</a>
                    {% else %}
                        <span class="sm-show-osef-columns">{{ sortie.nom }}</span>
                    {% endif %}
                    <span class="d-none d-block-md">{{ sortie.nom }}</span></td>
                <td>{{ sortie.dateDebut ? sortie.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sortie.dateCloture ? sortie.dateCloture|date('Y-m-d') : '' }}</td>
                <td>{{ sortie.participants | length}} / {{ sortie.nbPlaces }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>
                    {% set userInscrit = false %}
                    {% for participant in sortie.participants %}
                        {% if participant.id == app.user.id %}
                            <span class="mif-cross-light"></span>
                            {% set userInscrit = true  %}
                        {% endif %}
                       
                    {% endfor %}
                </td>
                <td>
                    <a title="Afficher utilisateur" href="{{ path('participant_show', {'id': sortie.organisateur.id}) }}">
                        {{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom }}
                    </a>
                </td>
                <td>
                    {% if date(sortie.dateDebut)|date_modify("+1 month") > date() %}
                        {# lien part 2/2 #}
                        <a class="button info" title="Afficher sortie" href="{{ path('sortie_show', {'id': sortie.id}) }}"><span class="mif-eye mif-2x"></span></a>
                    {% endif %}
                    {% if sortie.organisateur.id == app.user.id and sortie.etat.id == 1 %}
                        <a class="button warning" title="Modifier sortie" href="{{ path('sortie_edit', {'id': sortie.id}) }}"><span class="mif-pencil mif-2x"></span></a>
                    {% endif %}
                    {% if sortie.etat.id == 2 and userInscrit == false and  sortie.participants | length < sortie.nbPlaces %}
                        <a class="button warning" title="Inscription" href="{{ path('sortie_inscription', {'action': 'ins', 'idSortie': sortie.id,'idParticipant': app.user.id}) }}"><span class="mif-user-plus mif-2x"></span></a>
                    {% endif %}
                    {% if (sortie.etat.id == 2 or sortie.etat.id == 3)  and userInscrit == true %}
                        <a class="button alert" title="Désinscription" href="{{ path('sortie_inscription', {'action': 'des', 'idSortie': sortie.id,'idParticipant': app.user.id}) }}"><span class="mif-user-minus mif-2x"></span></a>
                    {% endif %}
                    {% if (sortie.organisateur.id == app.user.id or is_granted("ROLE_ADMIN")) and (sortie.etat.id > 1 and sortie.etat.id < 4)%}
                        <a class="button alert" title="Supprimer sortie" href="{{ path('sortie_annuler', {'id': sortie.id}) }}"><span class="mif-cancel mif-2x"></span></a>
                    {% endif %}
                </td>
                <td>{{ sortie.lieu.ville.nom }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune sortie de prévu</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div class="d-none d-block-md">
    <a class="button success" href="{{ path('sortie_new') }}" title="Créer une nouvelle Sortie"><span class="mif-plus"></span></a>
</div>

</div>
{% endblock %}
