{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
<div class="row">

    <div class="cell-12 text-center">
        <h4>Afficher une sortie</h4>
    </div>

    <div class="cell-12 row d-flex">
        <div class="cell-6">
            <div class="p-4">
                <div class="row mb-2">
                    <label class="cell-sm-6">Nom de la sortie :</label>
                    <div class="cell-sm-6">
                        <p>{{ sortie.nom }}</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="cell-sm-6">Date et heure de la sortie :</label>
                    <div class="cell-sm-6">
                        <p>{{ sortie.dateDebut ? sortie.dateDebut|date('Y-m-d H:i:s') : '' }}</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="cell-sm-6">Date limite d'inscription :</label>
                    <div class="cell-sm-6">
                        <p>{{ sortie.dateCloture ? sortie.dateCloture|date('Y-m-d H:i:s') : '' }}</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="cell-sm-6">Nombre de places :</label>
                    <div class="cell-sm-6">
                        <p>{{ sortie.nbPlaces }}</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="cell-sm-6">Durée :</label>
                    <div class="cell-sm-6">
                        <p>{{ sortie.duree }} minutes</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="cell-sm-6">Description et infos :</label>
                    <div class="cell-sm-6">
                        <p>{{ sortie.infos }}</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="cell-6">
            <div class="p-4">
                <div class="row mb-2">
                    <label class="cell-sm-6">Ville organisatrice :</label>
                    <div class="cell-sm-6">
                        <p>{{ ville_orga }}</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="cell-sm-6">Lieu :</label>
                    <div class="cell-sm-6">
                        <p>{{ sortie.lieu.nom }}</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="cell-sm-6">Rue :</label>
                    <div class="cell-sm-6">
                        <p>{{ sortie.lieu.rue }}</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="cell-sm-6">Code postal :</label>
                    <div class="cell-sm-6">
                        <p>{{ sortie.lieu.ville.cp }}</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="cell-sm-6">Latitude :</label>
                    <div class="cell-sm-6">
                        <p>{{ sortie.lieu.latitude }}</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="cell-sm-6">Longitude :</label>
                    <div class="cell-sm-6">
                        <p>{{ sortie.lieu.longitude }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<table class="table">
<thead>
    <tr>
        <th>Pseudo</th>
        <th class="sortable-column sort-asc">Nom</th>
    </tr>
</thead>
<tbody>
{% for participant in sortie.participants %}
<tr>
<td>
{{ participant.pseudo }}
</td>
<td>
{{ participant.prenom }} &nbsp; {{ participant.nom }}
</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
