{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
<div class="row">

    <div class="cell-12 text-center">
        <h4>Afficher une sortie</h4>
        {% if sortie.etat.id == 6 %}
        <h4 class='fg-red'> Cette Sortie est ANNULEE </h4>
        {% endif %}
    </div>

    <div class="cell-12 d-flex p-0" style="flex-flow:row wrap">

            <div class="cell-12 cell-md-6">

                    <div class="row mb-2">
                        <label class="cell-6 text-right">Nom de la sortie :</label>
                        <div class="cell-6">
                            <p>{{ sortie.nom }}</p>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="cell-6 text-right">Date et heure de la sortie :</label>
                        <div class="cell-6">
                            <p>{{ sortie.dateDebut ? sortie.dateDebut|date('Y-m-d H:i:s') : '' }}</p>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="cell-6 text-right">Date limite d'inscription :</label>
                        <div class="cell-6">
                            <p>{{ sortie.dateCloture ? sortie.dateCloture|date('Y-m-d') : '' }}</p>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="cell-6 text-right">Nombre de places :</label>
                        <div class="cell-6">
                            <p>{{ sortie.nbPlaces }}</p>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="cell-6 text-right">Durée :</label>
                        <div class="cell-6">
                            <p>{{ sortie.duree }} minutes</p>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="cell-6 text-right">Description et infos :</label>
                        <div class="cell-6">
                            <p>{{ sortie.infos }}</p>
                        </div>
                    </div>

            </div>
            
            <div class="cell-12 cell-md-6">

                    <div class="row mb-2">
                        <label class="cell-6 text-right">Ville organisatrice :</label>
                        <div class="cell-6">
                            <p>{{ ville_orga }}</p>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="cell-6 text-right">Lieu :</label>
                        <div class="cell-6">
                            <p>{{ sortie.lieu.nom }}</p>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="cell-6 text-right">Rue :</label>
                        <div class="cell-6">
                            <p>{{ sortie.lieu.rue }}</p>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="cell-6 text-right">Code postal :</label>
                        <div class="cell-6">
                            <p>{{ sortie.lieu.ville.cp }}</p>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="cell-6 text-right">Latitude :</label>
                        <div class="cell-6">
                            <p>{{ sortie.lieu.latitude }}</p>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="cell-6 text-right">Longitude :</label>
                        <div class="cell-6">
                            <p>{{ sortie.lieu.longitude }}</p>
                        </div>
                    </div>

            </div>

    </div>
</div>

<table class="table">
<thead>
    <tr>
        <th>Pseudo</th>
        <th class="sortable-column sort-asc">Nom</th>
    </tr>
</thead>
<tbody>
{% for participant in sortie.participants %}
<tr>
<td>
{{ participant.pseudo }}
</td>
<td>
{{ participant.prenom }} &nbsp; {{ participant.nom }}
</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
