{% extends 'base.html.twig' %}

{% block title %}Liste des villes{% endblock %}

{% block body %}
    <h1>Liste des villes</h1>

    <table class="table striped table-border mt-4"
           data-role="table"
           data-rows="5"
           data-rows-steps="5, 10, 30"
           data-show-activity="false"
           data-rownum="true"
           data-check="true"
           data-check-style="2"
           data-table-info-title="Afficher $1 à $2 de $3 entrées"
    >
        <thead>
            <tr>
                <th>Nom</th>
                <th>Cp</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ville in villes %}
            <tr>
                <td>{{ ville.nom }}</td>
                <td>{{ ville.cp }}</td>
                <td>
                    <a class="button info" title="Afficher ville" href="{{ path('ville_show', {'id': ville.id}) }}"><span class="mif-eye mif-2x"></span></a>
                    <a class="button warning" title="Modifier ville" href="{{ path('ville_edit', {'id': ville.id}) }}"><span class="mif-pencil mif-2x"></span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="button success" href="{{ path('ville_new') }}" title="Créer ville"><span class="mif-plus mif-2x"></span></a>
{% endblock %}
